@page "/studentapplications/delete"
@using Microsoft.EntityFrameworkCore
@using StudentApplicationManagementSystem.Models
@inject IDbContextFactory<StudentApplicationManagementSystem.Data.StudentApplicationManagementSystemContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Delete</PageTitle>


<p>Ви впевнені, що хочете видалити заяву?</p>
<div>
    <h2>StudentApplication</h2>
    <hr />
    @if (studentapplication is null)
    {
        <p><em>Loading...</em></p>
    }
    else {
        <dl class="row">
            <dt class="col-sm-2">StudentId</dt>
            <dd class="col-sm-10">@studentapplication.StudentId</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">StudentApplicationScore</dt>
            <dd class="col-sm-10">@studentapplication.StudentApplicationScore</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">StudentApplicationUniversityId</dt>
            <dd class="col-sm-10">@studentapplication.StudentApplicationUniversityId</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">StudentApplicationStatusId</dt>
            <dd class="col-sm-10">@studentapplication.StudentApplicationStatusId</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">StudentApplicationPriority</dt>
            <dd class="col-sm-10">@studentapplication.StudentApplicationPriority</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">StudentApplicationSpecialtyId</dt>
            <dd class="col-sm-10">@studentapplication.StudentApplicationSpecialtyId</dd>
        </dl>
        <EditForm method="post" Model="studentapplication" OnValidSubmit="DeleteStudentApplication" FormName="delete" Enhance>
            <button type="submit" class="btn btn-danger" disabled="@(studentapplication is null)">Видалити</button> |
            <a href="/studentapplications">Повернутися до списку</a>
        </EditForm>
    }
</div>

@code {
    private StudentApplication? studentapplication;

    [SupplyParameterFromQuery]
    private int StudentApplicationId { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        studentapplication = await context.StudentApplication.FirstOrDefaultAsync(m => m.StudentApplicationId == StudentApplicationId);

        if (studentapplication is null)
        {
            NavigationManager.NotFound();
        }
    }

    private async Task DeleteStudentApplication()
    {
        using var context = DbFactory.CreateDbContext();
        context.StudentApplication.Remove(studentapplication!);
        await context.SaveChangesAsync();
        NavigationManager.NavigateTo("/studentapplications");
    }
}
